@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg-color: #282c34;

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: $bg-color;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

img {
  animation: spin 5s linear infinite;
}

#title {
  color: #fff;
  text-align: center;
}
